body {
  background-color: #fff;//#282828 !important;

}

.div-context {
  //width: 571px;
  margin: auto;
}

.r-title { 
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #111;//#D2D9DC;
  font-weight: 200;
  padding-bottom: 3px;

  border-style: none none dotted none;
  border-color: #727E82;
  border-width: 1;
}

.r-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #111;//#D2D9DC;
  font-weight: 200;
  padding-bottom: 1px;

  border-color: #727E82;
  border-width: 1;
}

.r-subtitle {
  padding-bottom: 0px;
  margin-bottom: 10px;
  padding-top: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16.5px !important;
  color: #111;//#D2D9DC;//#727E82;
}

.r-bigger {
  font-size: 18px !important;
}

.spacer {
  margin: 5px;
}

#floating-input{
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 1200;
  width: 230px !important;
  height: 160px !important;
  resize: none;
}


#floating-display{
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 1100;
  width: 300px !important;
  min-height: 200px !important;
  resize: none;
}

#floating-admin{
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 1100;
  width: 230px !important;
  height: 160px !important;
  resize: none;
}
