.test {
  background-color: #EEEEEE !important;
}

#floatingContainer {
  position: relative;
}

.floatingDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

img {
  max-width: none !important;
  min-width: 100% !important;
}

textarea {
  width: 100% !important;
}