body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16.5px !important;
  font-color: #111;//#D2D9DC;//#727E82;

}

.test {
  background-color: #EEEEEE !important;
}

#floatingContainer {
  position: relative;
  //width: 800 !important;
  //height: 600 !important;
}

.title {
  margin: 40px;
}

.floatingDiv {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
}

.imgDesign {

}

#hover-canvas {
  /*cursor: pointer;*/
  cursor: url('/imgs/cursor.png'), pointer;
}

.instructionDiv {
  margin: 40px;
}

.feedbackBox {
  padding: 10px;
  margin: 10px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: #BBB;
}

.deleteButton {
  padding: 10px;
}

.submitButton {
  margin: 20px !important;
}

.comment_block {
  padding: 15px 0px !important;
}

button {
  margin: 0px !important;
}

.table-likert {
  max-width: 300px;
}

/*img {
  max-width: none !important;
  min-width: 100% !important;
}*/
